extends layout

block content
  // Header
  header#header.alt
    h1
      a(href="/")
        | #{title}
    | &#x9;
    nav#nav
      ul
        li
          a(href="/") Home
        | &#x9;&#x9;&#x9;
        li
          a(href="/login") Login
        | &#x9;&#x9;&#x9;
        li
          a.button(href="#") Sign Up
  // Banner
  section#banner
    article
      img(src="images/slide01.jpg", alt="")
      | &#x9;&#x9;
      .inner
        h2
          a(href="#") #{subtitle}
    | &#x9;
  // One
  section#one.wrapper.major-pad
    .inner
      section.spotlight
        .content
          h2 Sign up to study in America
          | &#x9;&#x9;&#x9;&#x9;
          p
<<<<<<< HEAD
  | Live with a family while studying in America.
=======
  | Live with a local family while attending higher educational school.
>>>>>>> refs/remotes/origin/edit_spotlight
  | &#x9;&#x9;&#x9;
  span.image
    img(src="images/student-intl.jpeg", alt="")
  // Two
  section#two.wrapper.content-pad
    .inner
      .features
        section.content
          span.icon-wrapper.major
            span.icon.fa-pencil
          | &#x9;&#x9;&#x9;&#x9;
          h3 Schools
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Back ground checked family with video conferencing 
        | &#x9;&#x9;&#x9;
        section.content
          span.icon-wrapper.major
            span.icon.fa-paper-plane
          | &#x9;&#x9;&#x9;&#x9;
          h3 Housing
          | &#x9;&#x9;&#x9;&#x9;
          p
            | Search housing in surrounding school areas.
        | &#x9;&#x9;&#x9;
        section.content
          span.icon-wrapper.major
            span.icon.fa-cloud
          | &#x9;&#x9;&#x9;&#x9;
          h3 About us
          | &#x9;&#x9;&#x9;&#x9;
          p
            |Bringing international students to America to gain a better education with local families. 
  // Three
  section#three.wrapper.style2
    .inner
      h2 Etiam sed tellus
      | &#x9;&#x9;
      .posts
        section.post
          span.image
            img(src="images/pic01.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Learn about upcoming events
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Look at the different cities affered abroad in America
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
        | &#x9;&#x9;&#x9;
        section.post
          span.image
            img(src="images/pic02.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Family Registration
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Register as a family to await contact from internatnional students and will be able to upload pictures
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
        | &#x9;&#x9;&#x9;
        section.post
          span.image
            img(src="images/pic03.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Elementum auctor
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
        | &#x9;&#x9;&#x9;
        section.post
          span.image
            img(src="images/pic04.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Urna vel lacinia
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Integer vel tincidunt lacus. Nulla augue nunc, eleifend quis leo ac, maximus interdum tellus. Etiam at vestibulum felis, id efficitur risus. Praesent ac nulla ex. Duis elementum.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
        | &#x9;&#x9;&#x9;
        section.post
          span.image
            img(src="images/pic05.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Neque et suscipit
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Libero condimentum, vehicula sem vel, mattis mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi in aliquam est. Aenean dapibus porttitor nulla ultrices venenatis.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
        | &#x9;&#x9;&#x9;
        section.post
          span.image
            img(src="images/pic06.jpg", alt="")
          | &#x9;&#x9;&#x9;&#x9;
          .content
            h3 Vestibulum placerat
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Tristique tellus et ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent mauris risus, pellentesque eu leo non, tincidunt.
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            ul.actions
              li
                a.button(href="#") More
  // Contact
  section#contact.wrapper.split
    .inner
      section
        h2 Send us a message
        | &#x9;&#x9;&#x9;
        form(method="post", action="#")
          .row.uniform
            .6u
              label(for="name") Name
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#name(type="text", name="name")
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              label(for="email") Email
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#email(type="email", name="email")
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .12u
              label(for="message") Message
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              textarea#message(name="message", rows="5")
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .12u
              ul.actions
                li
                  input.special(type="submit", value="Send Message")
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  input(type="reset", value="Reset")
      | &#x9;&#x9;
      section
        h2 Other ways to reach us
        | &#x9;&#x9;&#x9;
        ul.bulleted-icons
          li
            span.icon-wrapper
              span.icon.fa-envelope
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 Email
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              a(href="#") information@untitled.tld
          | &#x9;&#x9;&#x9;&#x9;
          li
            span.icon-wrapper
              span.icon.fa-twitter
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 Twitter
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              a(href="#") twitter.com/untitled-tld
          | &#x9;&#x9;&#x9;&#x9;
          li
            span.icon-wrapper
              span.icon.fa-phone
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 Phone
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p (800) 555-0000
          | &#x9;&#x9;&#x9;&#x9;
          li
            span.icon-wrapper
              span.icon.fa-facebook
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 Facebook
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              a(href="#") facebook.com/untitled-tld
          | &#x9;&#x9;&#x9;&#x9;
          li
            span.icon-wrapper
              span.icon.fa-home
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 Mailing Address
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | 1234 Fictional Avenue
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;Nashville, TN 00000
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;United States
          | &#x9;&#x9;&#x9;&#x9;
          li
            span.icon-wrapper
              span.icon.fa-linkedin
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            h3 LinkedIn
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p
              a(href="#") linkedin.com/untitled-tld
  // Footer
  footer#footer
    .inner
      p.copyright
        | &copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.
      | &#x9;&#x9;
      ul.menu
        li
          a(href="#")
            | Terms
            span  of Use
        | &#x9;&#x9;&#x9;
        li
          a(href="#")
            | Privacy
            span  Policy
        | &#x9;&#x9;&#x9;
        li
          a(href="#")
            | Legal
            span  Information
  // Scripts
  script(src="/js/jquery.min.js")
  script(src="/js/jquery.dropotron.min.js")
  script(src="/js/jquery.scrollex.min.js")
  script(src="/js/skel.min.js")
  script(src="/js/util.js")
  //if lte IE 8
  script(src="/js/ie/respond.min.js")
  script(src="/js/main.js")
