extends layout

block content
  // Login
  section#contact.wrapper.split
    .inner
      section
        h2 Please login
        | &#x9;&#x9;&#x9;
        form(method="post", action="#")
          .row.uniform
            .6u
              label(for="name") Name
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#name(type="text", name="name")
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              label(for="password") Password
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#email(type="password", name="password")
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              a(id="forgot" href="") Forgot your Password?
            .12u

          ul.actions
            li
              input.special(type="submit", value="Login")
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;
          a(href="/") Not registered? Sign up here!
          section

  // Scripts
  script(src="/js/jquery.min.js")
  script(src="/js/jquery.dropotron.min.js")
  script(src="/js/jquery.scrollex.min.js")
  script(src="/js/skel.min.js")
  script(src="/js/util.js")
  script(src="/js/popup.js")
  //if lte IE 8
  script(src="/js/ie/respond.min.js")
  script(src="/js/main.js")
