extends layout

block content
  // Login
  section#contact.wrapper.split
    .inner
      section
        h2 Sign up
        | &#x9;&#x9;&#x9;
        form(method="post", action="#")
          .row.uniform
            .6u
              label(for="name") Username
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#name(type="text", name="name")
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              label(for="email") email
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#email(type="email", name="email")
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              label(for="email") Reenter email
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#email(type="email", name="email")
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            .6u
              label(for="password") password
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              input#email(type="password", name="password")
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            .12u

          ul.actions
            li
              input.special(type="submit", value="Sign Up")
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;
  // Scripts
  script(src="/js/jquery.min.js")
  script(src="/js/jquery.dropotron.min.js")
  script(src="/js/jquery.scrollex.min.js")
  script(src="/js/skel.min.js")
  script(src="/js/util.js")
  //if lte IE 8
  script(src="/js/ie/respond.min.js")
  script(src="/js/main.js")
